@model List<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<div class="products">
    @foreach (var product in Model)
    {
        <div class="img-thumbnail">
            <img class="product-image" src="/images/Products/product-@(product.Id).png" alt="Product Image" />
            <div class="caption">
                <h3>@product.Name</h3>
                <h4>@product.Description</h4>
                <h5>@product.Price$</h5>
                <p>
                    <button class="btn btn-primary">Add to card</button>
                </p>
            </div>
        </div>
    }
</div>

