
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}


<h1 class="text-center mt-2">Products</h1>


<div class="card-columns">
    @foreach (var product in Model)
    {
        <div class="card m-3">
            <div class="container">
                <div class="row">
                    <img class="card-img-top img-fluid" src="/images/Products/product-@(product.Id).png" alt="product">
                </div>
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <h4 class="card-title">@product.Description</h4>
                    <h4 class="card-title">@product.Price$</h4>
                    <p class="card-text text-center">
                        <button value="@product.Id" class="btn btn-primary productItem">Add to card</button>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


<script type="text/javascript">
    let products = document.getElementsByClassName("card-columns")[0];
    products.addEventListener('click', function (e) {
        e.stopPropagation();
        let target = e.target;

        let targetId = target.classList.contains("productItem") ? target.value : null;

        if (targetId != null) {
            addToCart(targetId);
            alert("Sucessfully added!");
        }
    });


    async function addToCart(targetId) {
        const res = await fetch("/Order/AddProduct?productId=" + targetId,
            {
                method: "POST"
            });
        const data = await res.json();
        return data;
    }
</script>