@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center mt-3 mb-4">Registration Form</h1>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Register" asp-controller="User" method="post">
                <div class="form-group py-1 d-flex justify-content-center">
                    <div class="col-md-6">
                        <label asp-for="Firstname"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input type="text" asp-for="Firstname" class="form-control" placeholder="Firstname">
                        </div>
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group py-1 d-flex justify-content-center">
                    <div class="col-md-6">
                        <label asp-for="Lastname"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input type="text" asp-for="Lastname" class="form-control" placeholder="Lastname">
                        </div>
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group py-1 d-flex justify-content-center">
                    <div class="col-md-6">
                        <label asp-for="Email"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                        </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group py-1 d-flex justify-content-center">
                    <div class="col-md-6">
                        <label asp-for="Address"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-house-door-fill"></i></span>
                            <input type="text" asp-for="Address" class="form-control" placeholder="Address">
                        </div>
                            <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group py-1 d-flex justify-content-center">
                    <div class="col-md-6">
                        <label asp-for="Username"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-file-earmark-person-fill"></i></span>
                            <input type="text" asp-for="Username" class="form-control" placeholder="Username">
                        </div>
                            <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-3">
                        <label asp-for="Password"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-file-lock2-fill"></i></span>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                        </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="ConfirmPassword"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                        </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center py-5">
                    <div class="col-md-4">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="registerBtn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
