@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <img src="~/images/lamazon.svg" alt="Logo image" height="500" />
    </div>
    <div class="col-md-3"></div>
</div>