@{
    ViewData["Title"] = "Privacy Policy";
}

<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>About Us</h1>
                <p>
                    Lamazon Inc. is an organisation founded by Bilkent Holding Inc.’s, which is one of one of the institutions out of the most respectable and trusted 50 companies in Macedonia.
                    Firstly we were awarded ‘The One Awards Prize’ which was given to  us in the ‘Security’ category by The Journal of Marketing Turkey with the cooperation research Akademetre Research Company. In particularly, we have been selected as a leading brand by taking high scores in the criteria of ‘Creditable Commercial Activities’ and ‘Trusting’ brand criteria.
                    Our second achievement was from sikayetvar.com. In the electronic security category we became the leader with the highest rate of gratification, the lowest number of complaints and the fastest response time.
                </p>
            </div>
        </div>
    </div>
</header>


<section id="about" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>What We Do</h1>
                <p>
                    The foundations of our company were laid in 1992. At that time, our company started its activities with the solutions produced by Bilkent Holding companies to meet their electronic security needs. Since 2011, under the name of ‘Lamazon Inc.’ , it generates custom electronic security solutions for  people and institutions with alarm systems and Alarm Monitoring Centre provides services in Macedonia’s 81 provinces. Firstly we were awarded ‘The One Awards Prize’ which was given to  us in the ‘Security’ category by The Journal of Marketing Turkey with the cooperation research Akademetre Research Company. In particularly, we have been selected as a leading brand by taking high scores in the criteria of ‘Creditable Commercial Activities’ and ‘Trusting’ brand criteria.

                    Our second achievement was from sikayetvar.com. In the electronic security category we became the leader with the highest rate of gratification, the lowest number of complaints and the fastest response time.

                    As Tepe Security, we provide 360 degree consultancy services by our expert engineers, together with our project – specific technical (financial) solutions, within the framework of electronic security service and consultancy.
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://source.unsplash.com/random/700x700/?company" alt="" class="img-fluid random-circle d-none d-md-block about-img"/>
            </div>
        </div>
    </div>
</section>